.flexView .__dropdown {
  position: absolute;
  z-index: 1;
  background: gray;
  padding: 1rem;
}

.flexView .__dropdown .--option .--text {
  margin-left: 0.3rem;
}

.ReactTable.flexView-table .rt-th {
  text-align: left;
}

.flexView-table {
}

.flexView-table__sub {
  background: #3a3f44;
}
