.toolbar {
    top: 10px;
    right: 250px;
}

.toolbarSectionButton {
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    outline: none;
    position: relative;
    text-align: center;
    margin-left: 5px;
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 11px;
}

.toolbarSectionButton_Active {
    color: #861737;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    min-width: 30px;
    outline: none;
    position: relative;
    text-align: center;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
}

.toolbarSectionButton:hover {
    color: #aaa;
    transform: scale(1.1);
}

.drawingSectionButton {
    cursor: pointer;
    min-width: 30px;
    outline: none;
    position: relative;
    text-align: center;
    color: white;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
}

.drawingSectionButton:hover {
    color: #aaa;
    transform: scale(1.1);
}

.toolContainer {
    font-size: 16px;
}

.fontastic-icons {
    font-size: 16px;
}

.buttonLabel {}

.drawBar {
    top: 3.72em;
    right: 9em;
    outline: solid;
    outline-width: 1px;
    background-color: #3a3f44;
    outline-color: black;
    width: 80px;
    cursor: pointer;
    z-index: 1;

}

.segmentation-menu {
    top: 30em;
    left: 6.87em;
    outline: solid;
    outline-width: 1px;
    background-color: #3a3f44;
    outline-color: black;
    width: 250px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    align-content: left;
}

.brush-presets {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    align-content: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

.range-container {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.input-range__track {
    height: 0.5rem;
}