.searchView-toolbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.searchView-toolbar__icon {
  margin: 0.5rem;
  cursor: pointer;
}

.searchView-toolbar__icon:hover {
  color: white;
}
.searchView-checkbox {
  width: 2rem;
}

.progress-done {
  font-size: 1.5rem;
  color: green;
}

.progress-notStarted {
  font-size: 1.5rem;
  color: red;
}

.progress-inProgress {
  font-size: 1.5rem;
  color: yellow;
}

.alert-annDownload.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
}

.annDownload-container {
  display: flex;
  flex-direction: column;
}

.annDownload-text,
.upload-text {
  margin-left: 0.5rem;
  margin-top: 4px;
}

.annDownload-option {
  display: flex;
  margin-bottom: 0.2rem;
  align-items: center;
}

.badge-flex {
  display: inline-flex;
  flex-direction: column;
}

.searchView-header {
  display: flex;
}
.searchView-header__col--flex {
  display: inline-flex;
  flex-direction: column;
}

.search-header__col {
  font-size: 1rem;
}

.searchView-table__cell {
  text-align: center;
}

.searchView-table__col--left {
  text-align: left;
}

.search-header__col {
  /* color: #861737; */
  /* color: #a70432; */
  /* color: #db2559;  */
  /* color: #09a7da; */
}

.search-header__col--left {
  /* color: #09a7da; */
  /* color: #a70432; */
  /* color: #5bc0de; */
  text-align: left;
}

.upload-file {
  display: flex;
  align-items: center;
}

.upload-display {
  margin-left: 0.5rem;
}

.alert-upload.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
}

.upload-select {
  color: black;
  margin-left: 0.5rem;
}

.upload-select__container,
.upload-file {
  margin-bottom: 0.8rem;
}

.upload-options {
  margin-top: 2rem;
}

.upload-note {
  width: 30rem;
}

.tiffForm-item {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.tiff-text {
  min-width: 20rem;
  color: black;
}

.tiffForm-label {
  min-width: 10rem;
}

.spinner-toolbar {
  margin-left: 1rem;
}

.spinner-toolbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-status {
  margin-right: 0.5rem;
}

/* .css-5ee12h-style,
.css-1yxrzmr-style {
  background-color: blue;
} */

.hide-delete {
  cursor: not-allowed;
  color: #5c5c5c;
  margin: 0.5rem;
}

.alert-download__modal {
  font-size: 1.2rem;
  display: inline-block;
  left: 40%;
}

.__modal--content {
  display: inline-block;
}

.__message--container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.searchView-toolbar__group {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.3rem;

  align-items: center;
  border-radius: 4px;
  box-shadow: 0.5px 0px 0px 0.2px #999;
  /* background: #861737; */
}

.new-popup,
.worklist-popup {
  z-index: 15;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 7rem;
  position: absolute;
  background-color: #3a3f44;
  color: #c3c5c9;
  outline-color: black;
  border: 1px solid #861737;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
}

.new-popup__option,
.worklist__option {
  width: 100%;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.new-popup__option:hover,
.worklist__option:hover {
  color: whitesmoke;
  background: #70142e;
}

.add-annotation__modal.modal-dialog,
.add-series__modal.modal-dialog,
.add-study__modal.modal-dialog,
.add-subject__modal.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
  top: 10%;
}

.updateReq__modal.modal-dialog,
.updateReq__mbody.modal-body {
  /* width: 256px; */
  max-width: fit-content;
}

h5.add-subject__modal--label,
.add-study__modal--label,
.add-series__modal--label {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.add-subject__modal--input,
.add-study__modal--input,
.add-series__modal--input {
  margin-top: 0.1rem;
  width: -webkit-fill-available;
  color: black;
}

.add-study__modal--select,
.add-series__modal--select {
  color: black;
}

.openSeries__modal .modal-content {
  width: fit-content;
  margin: auto;
  top: 5rem;
}

.openSeries-select .seriesDesc {
  margin-left: 0.5rem;
}

.openSeries-select {
  margin-top: 0.3rem;
  display: flex;
}

.add-worklist__modal.modal-dialog .modal-content {
  overflow-y: scroll;
  max-height: 420px;
}

.add-worklist__modal.modal-dialog {
  max-height: fit-content;
}