.searchView-toolbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.searchView-toolbar__icon {
  margin: 0.5rem;
  cursor: pointer;
}

.searchView-toolbar__icon:hover {
  color: white;
}
.searchView-checkbox {
  width: 2rem;
}

.progress-done {
  font-size: 1.5rem;
  color: green;
}

.progress-notStarted {
  font-size: 1.5rem;
  color: red;
}

.progress-inProgress {
  font-size: 1.5rem;
  color: yellow;
}

.alert-annDownload.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
}

.annDownload-container {
  display: flex;
  flex-direction: column;
}

.annDownload-text,
.upload-text {
  margin-left: 0.5rem;
  margin-top: 4px;
}

.annDownload-option {
  display: flex;
  margin-bottom: 0.2rem;
  align-items: center;
}

.badge-flex {
  display: inline-flex;
  flex-direction: column;
}

.searchView-header {
  display: flex;
}
.searchView-header__col--flex {
  display: inline-flex;
  flex-direction: column;
}

.search-header__col {
  font-size: 1rem;
}

.new-rt-header__cell, .new-rt-body__cell {
  text-align: center;
}

#searchView-desc {
  text-align: left;
}

.searchView-table__cell {
  text-align: center;
}

.searchView-table__col--left {
  text-align: left;
}

.search-header__col {
  /* color: #861737; */
  /* color: #a70432; */
  /* color: #db2559;  */
  /* color: #09a7da; */
}

.search-header__col--left {
  /* color: #09a7da; */
  /* color: #a70432; */
  /* color: #5bc0de; */
  text-align: left;
}

.upload-file {
  display: flex;
  align-items: center;
}

.upload-display {
  margin-left: 0.5rem;
}

.alert-upload.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
}

.upload-select {
  color: black;
  margin-left: 0.5rem;
}

.upload-select__container,
.upload-file {
  margin-bottom: 0.8rem;
}

.upload-options {
  margin-top: 2rem;
}

.upload-note {
  width: 30rem;
}

.tiffForm-item {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.tiff-text {
  min-width: 20rem;
  color: black;
}

.tiffForm-label {
  min-width: 10rem;
}

.spinner-toolbar {
  margin-left: 1rem;
}

.spinner-toolbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-status {
  margin-right: 0.5rem;
}

/* .css-5ee12h-style,
.css-1yxrzmr-style {
  background-color: blue;
} */

.hide-delete {
  cursor: not-allowed;
  color: #5c5c5c;
  margin: 0.5rem;
}

.alert-download__modal {
  font-size: 1.2rem;
  display: inline-block;
  left: 40%;
}

.__modal--content {
  display: inline-block;
}

.__message--container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.searchView-toolbar__group {
  display: flex;
  margin-right: 1rem;
  /* margin-bottom: 0.3rem; */
  align-items: center;
  border-radius: 4px;
  box-shadow: 0.5px 0px 0px 0.2px #999;
  /* background: #861737; */
}

.new-popup,
.selectModalMenu,
.worklist-popup,
.projects-popup {
  z-index: 1000;
  /* display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 10rem;
  position: absolute; */
  background-color: #3a3f44;
  color: #c3c5c9;
  outline-color: black;
  border: 1.5px solid #861737;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  overflow: auto;

  position: absolute;
    
    padding: 5px 10px;
    outline: solid;
    outline-width: 1px;
    
    outline-color: black;
    width: 170px;
    height: 110px;
    top: 92px;
    left: 450px;
}

.new-popup__option,
.worklist__option,
.project__option,
.selectModalMenu__option {
  width: 100%;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.new-popup__option:hover,
.worklist__option:hover,
.project__option:hover,
.selectModalMenu__option:hover {
  color: whitesmoke;
  background: #70142e;
}

.add-annotation__modal.modal-dialog,
.add-series__modal.modal-dialog,
.add-study__modal.modal-dialog,
.add-subject__modal.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  left: 40%;
  top: 10%;
}

.updateReq__modal.modal-dialog,
.updateReq__mbody.modal-body {
  /* width: 256px; */
  max-width: fit-content;
  min-width: 100%;
}

#worklist #modal-fix {
  overflow: auto;
  min-width: 30rem;
  max-width: inherit;
}

h5.add-subject__modal--label,
.add-study__modal--label,
.add-series__modal--label {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.add-subject__modal--input,
.add-study__modal--input,
.add-series__modal--input {
  margin-top: 0.1rem;
  width: -webkit-fill-available;
  color: black;
}

.add-study__modal--select,
.add-series__modal--select {
  color: black;
}

.openSeries__modal .modal-content {
  width: fit-content;
  margin: auto;
  top: 5rem;
}

.openSeries-select .seriesDesc {
  margin-left: 0.5rem;
}

.openSeries-select {
  margin-top: 0.3rem;
}

.add-worklist__modal.modal-dialog .modal-content {
  overflow-y: scroll;
  max-height: 420px;
}

.add-worklist__modal.modal-dialog {
  max-height: fit-content;
}

.menu-clickable {
  cursor: pointer;
}

.tagEditForm__el,
.tagCopyForm__el {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;
}

.tagEditForm__el .--exp {
  width: 10rem;
  text-align: left;
}

.tagEditForm__el .--check,
.tagCopyForm__el .--check,
.tagEditTree-icon .--check {
  font-size: 1.5rem;
  color: #45a163;
  margin-left: 0.2rem;
  text-shadow: 1px 1px 1px #ccc;
}

.tagEditForm__el .--warnning,
.tagCopyForm__el .--warnning,
.tagEditTree-icon .--warnning {
  font-size: 1.5rem;
  color: #f89406;
  margin-left: 0.2rem;
  text-shadow: 1px 1px 1px #ccc;
}

.tagEditTree-icon .--warnning,
.tagEditTree-icon .--check,
.tagEditTree-tagEditor {
  font-size: 1.2rem;
}

.tagEditForm__el--confirmation {
  /* color: #f89406; */
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.tagEditForm__el .--text,
.tagCopyForm__el .--text {
  margin-right: 0.2rem;
  width: 25rem;
  padding: 0.2rem;
  font-weight: normal;
  color: #272b30;
}

.tagEditForm__el .--textFilled,
.tagCopyForm__el .--textFilled {
  color: #272b30;
  width: 25rem;
  font-weight: bolder;
  font-size: 1.1rem;
}

.tagCopyForm__el.--retrieved input {
  background: bottom;
  color: gainsboro;
}

.react-tabs__tab-list {
  display: flex;
}

.tagEditForm__el .--refresh {
  color: #272b30;
}

.tagRequirements {
  width: 13rem;
  min-width: fit-content;
  height: fit-content;
}

.tagRequirements .__header {
  display: flex;
  justify-content: space-between;
}

.tagRequirements .__list {
  margin-left: 0.2rem;
  text-align: left;
  padding: 0.1rem;
}
.tagRequirements .__option {
  display: flex;
}

.tagRequirements .__select {
  margin-right: 0.2rem;
}

.copyFromEpad {
  display: flex;
  float: left;
}

.seriesBrowser {
  display: inline-flex;
  flex-direction: column;
  /* margin-left: 2rem; */
  /* border-left: solid 0.5px; */
  /* padding-left: 1rem; */
}
.seriesBrowser--group {
  display: inline-flex;
  margin-bottom: 0.5rem;
}
.seriesBrowser--select {
  display: inline-flex;
  /* margin-bottom: 0.5rem; */
  width: fit-content;
  min-width: 15rem;
  color: #272b30;
  overflow-wrap: break-word;
}
.seriesBrowser--label {
  min-width: 5rem;
  text-align: left;
}

.tagRequirements_modal .modal-content {
  background: #861737;
  color: white;
}

.tagRequirements_modal .modal-title {
  color: white;
}

.seriesBrowser-wrapper {
  margin-left: 2rem;
}

.searchView-row__desc {
  cursor: 'pointer';
  font-size: 12px;
  padding: '0';
  text-align: 'center';
  user-select: 'none';
  color: '#fafafa';
  padding: '7px 5px';
  vertical-align: 'middle';
  white-space: 'pre-wrap';
}

.searchView-row__desc:hover {
  color: #fafafa;
  cursor: pointer;
  text-decoration: underline;
}

#modal-fix {
  position: absolute;
  top: 20%;
  left: 30%;
  border: 2px solid grey;
  box-shadow: 1rem 1rem 1rem grey;
  z-index: 100;
}

.notifications {
  min-width: 30rem;
}

#modal-fix.modal-dialog.in-modal {
  top: 5%;
  margin: 0px;
  padding: 0px;
}

#modal-fix.modal-dialog.in-modal.edit-project {
  width: 25rem;
}

#modal-fix.modal-dialog.in-modal.big-table {
  left: 20%;
}

.updateAssignee__mbody.modal-body {
  height: 20rem;
  overflow: auto;
}

#modal-fix.modal-dialog.in-modal.mini-modal {
  left: 0;
  width: -webkit-fill-available;
  color: orangered;
}

#modal-fix.modal-minwidth {
  width: 25rem;
}

#report {
  overflow: auto;
  z-index: 25;
  left: 15%;
  top: 15%;
  background-color: rgb(102, 102, 102);
  border: 2.5px solid #861737;
  border-radius: 10px;
}

#closeBtn {
  font-size: medium;
  margin-left: 0.3rem;
}

.waterfall-header {
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;
  height: 2.5rem;
}

.react-draggable {
  z-index: 100;
}

.report-header {
  display: flex;
  justify-content: space-between;
  background: rgb(77, 77, 77);
  padding: 0.5rem;
}

.minreport-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: #861737;
  border-radius: 10px;
  border: 0.5px solid white;
}

.report-header__title {
  font-size: 1.4rem;
  color: rgb(204, 204, 255);
}

.minreport-header__title {
  font-size: 1.2rem;
  color: white;
  border-radius: 7px;
}

.minreport-header__title {
  margin-right: 1rem;
}
.minreport-header {
  border-radius: 7px;
}

.report-header__btn,
.minreport-header__btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0px 4px;
  margin-left: 6px;
  border-radius: 5px;
}

.report-header__btn.--exp,
.report-header__btn.--exp {
  font-weight: 400;
}

.report-header__btn.--close,
.report-header__btn.--close {
  padding: 0px 6px;
}

.worklist-page .rt-table .rt-tbody .rt-tr-group .rt-tr {
  align-items: center;
}

.worklist-page {
  margin-right: 10px;
}