.rightsidenav {
  height: calc(100% - 64px);
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #777;
  /* overflow-x: hidden; */
  transition: 0.4s;
}

.openbtn {
  display: block;
  position: fixed;
  font-size: 14px;
  right: 0px;
}

.closebtn {
  display: block;
  position: relative;
  font-size: 14px;
  left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.closebtn.__leftBar {
  left: 120px;
  font-size: 14px;
}

/* .mainView {
  height: 100%;
  flex: 1;
  transition: margin-right 0.4s;
  width: calc(100% - 300px);
  padding: 10px;
} */

/* .mainView-closed {
  width: 100%;
  padding: 10px;
  transition: margin-right 0.4s;
  padding-right: 40px;
  padding-top: 10px;
} */

.Collapsible__contentInner {
  /* padding: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 0;
  width: inherit;
}

.Collapsible__contentOuter {
  /* width: inherit; */
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #3a3f44;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: #3a3f44;
  color: white;
}

/* .Collapsible__trigger.is-open {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #861737;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: #861737;
  color: white;
  width: inherit;
} */

.Collapsible__trigger.is-open {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #3a3f44;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: #3a3f44;
  color: white;
}

.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}

.AimEditor-Wrapper {
  overflow-y: auto;
  padding-left: 0.5rem;
  height: calc(100% - 0px);
}

.right-tab-menu {
  max-width: 35px;
  height: 100vh;
  right: 0;
  position: fixed;
  background-color: #555;
  margin-left: 7px;
  margin-right: 0px;
  font-size: .9em;
  padding: 10px;
  padding-top: 20px;
  z-index: 100;
  transition: 0.4s;
}
.drawer-control {
  color: #ffffff;
  text-align: left;
}
.right-tabs {
  transform: rotate(180deg);
  padding-top: 2em;
  padding-bottom: 21px;
  color: #fff;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
}
#myTab1 {
  transform: rotate(270deg);
  width: 300px;
  margin: 3em -11rem;
}

.form-check-input:checked {
  background-color: #2541D8 !important;
  border-color: #2541D8 !important;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 0.5em !important;
  margin-bottom: 0.125rem;
}

/* .form-switch.form-check-input { */
#showAnnotations {
  /* border: #777 1px solid !important; */
  /* --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e"); */
  width: 1em;
  /* margin-left: -2.5em; */
  /* background-image: var(--bs-form-switch-bg); */
  background-position: left center;
  /* background: red; */
  /* border-radius: 2em; */
  /* transition: background-position 0.15s ease-in-out; */
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.form-check-inline {
  display: inline-block;
  margin-right: 3px !important;
}

.form-check-label{
  font-size: 12px;
  color:black;
}
.right-editor-display::-webkit-scrollbar {
  width: 7px;
}
 
.right-editor-display::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.right-editor-display::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid #777;
}

.checkbox-row{
  display: flex;
}

.annotation-text {
  color: #fff;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.annotation-text ul {
  padding-left: 1.2rem !important;
}
.annotation-text ul li{
  line-height: 1.2rem !important;
}
.annotation-text ul li b{
  color: #fff47e;
  font-weight: 300;
}
.annotation-back {
  background-color: #555;
  display:block;
  padding: 7px;
  margin: 0px 1rem;
  height: fit-content;
  /* max-height: 40%;   */
  /* height: calc(33% - 45px); */
  overflow: auto;
  /* background-color: #555; */
  /* display: block; */
  /* padding: 7px; */
  /* margin: 0px 7px; */
}


.annotation-header{
  margin: 0px 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  padding: 7px;
  color: white;
  font-size: 0.95rem;
  background-color: #555555;
  font-family: "Open-Sans", sans-serif;
  padding: 7px;
}

.clickable-icon{
  font-size: 1.2rem;
  margin-right: 5px;
}
.annotation-wrapper {
  height: fit-content;
}

.annList-container {
  height: 66%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}