.topBuffer { margin-top:60px; }

.formSignin {
  width: 100%;
  max-width: 330px;
  padding-top: 50px;
  margin: 30px 0;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.formSignin .checkbox {
  font-weight: 400;
}
.formSignin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.formSignin .form-control:focus {
  z-index: 2;
}
.formSignin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.formSignin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
