.editor-formForm {
  z-index: 1000;
}

.aim-editor-button-group {
  padding-top: 1rem;
  align-items: center;
}

.aim-editor-button {
  width: 179px;
  margin: 10px;
  margin-top: 0px;
}

.aim-editor-button:hover{
  background-color: white;
  color: gray;
}

.base-line-selection {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.base-line-selection:hover {
  color: white;
}

label{
  padding-left: 0.3rem;
  color:black;
}

textarea{
  border-radius: 0.4rem;
  margin-left: 0.8rem !important;
  width: 94% !important;
}
