.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* body {
  overflow: hidden;
  overflow-x: hidden;
} */

.modal-content-div {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  overflow: auto;
  padding: 2rem;
}

.modal-content-div:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

.custom-modal {
  background: #3a3f44;
}

.modal-dialog-div {
  cursor: pointer;
  position: relative;
  outline: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  /* box-sizing: border-box; */
  max-width: auto;
  cursor: default;
  border-radius: 4px;
  resize: both;
  display: inline-flex;
  flex-direction: column;
  /* background: rgb(58, 63, 68); */
  background: red;
  color: white;
}

.menu-display {
  display: inline-block;
  height: 90%;
  width: 100%;
}

.mng-menu,
.info-menu,
.userProfile-menu {
  z-index: 100000;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 10rem;
  /* padding: 1rem; */
  position: absolute;
  background-color: #3a3f44;
  color: #c3c5c9;
  outline-color: black;
  border: 1px solid #861737;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mng-menu__option,
.info-menu__option,
.userProfile-menu__option {
  width: 100%;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  /* margin: 0.5rem; */
}

.mng-menu__option:hover,
.info-menu__option:hover,
.userProfile-menu__option:hover {
  color: whitesmoke;
  background: #70142e;
  /* background: #861737; */
}

.mng-header {
  display: flex;
  height: 10%;
  height: 3%;
  width: 100%;
  min-height: 32px;
  margin-top: 0.3rem;
  background: #272b30;
  /* background: rgb(85, 85, 85); */
}

.mng-header__title {
  order: 1;
  flex: 1 100%;
  font-size: 1.2rem;
  width: 96%;
  text-align: center;
  vertical-align: center;
  cursor: grab;
  /* margin: auto; */
}

.mng-header__close {
  order: 2;
  width: 4%;
  font-size: 1.3rem;
  align-self: right;
}

.rnd-window {
  overflow: scroll;
  background: #3a3f44;
  color: #c6c6c6;
  position: relative;
  border: 2px solid #702632;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  min-width: 800px;
  width: fit-content;
}

.rnd-window.react-draggable {
  width: 75%;
  max-width: 600px;
}

.wrapped {
  white-space: normal;
  cursor: pointer;
}

.pro-table {
  height: 100%;
}

.basic-toolbar {
  display: flex;
  height: 5%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  width: 100%;
}

.tool-icon {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.menu-clickable {
  cursor: pointer;
}

.add-project__modal--form,
.add-connection__modal--form,
.edit-project__modal--form,
.add-worklist__modal--form,
.add-host__modal--form

/* .edit-worklist__modal--form  */
  {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #444;
  padding: 0rem 1rem;
}

.updateAssignee__modal.modal-dialog,
.updateDueDate__modal.modal-dialog {
  width: fit-content;
}

.updateDueDate__mbody input {
  color: black;
}

.updateDueDate__mbody {
  background: #444;
}

.add-project__modal--input,
.add-connection__modal--input,
.edit-project__modal--input,
.add-worklist__modal--input,
.edit-connection__modal--input .add-host__modal--input

/* .edit-worklist__modal--input  */
  {
  width: 100%;
}

.add-project__modal .modal-header,
.add-project__modal .modal-footer {
  padding: 0.5rem;
}

.add-connection__modal--input {
  color: black;
}

.edit-project__modal--input::placeholder,
.edit-connection__modal--input::placeholder,
.add-connection__modal--input::placeholder,
.edit-user__modal--input::placeholder {
  color: #ababab;
}

.add-project__modal--label,
.edit-project__modal--label,
.add-worklist__modal--label,
.edit-connection__modal--label,
.add-connection__modal--label .add-host__modal--label

/* .edit-worklist__modal--label  */
  {
  margin-top: 1rem;
  color: gray;
  text-align: left;
}

.add-project__modal--label {
  margin-top: 0.5rem;
}

.edit-connection__modal--input,
.edit-user__modal--input {
  color: black;
}

.form-exp,
.modal-title {
  color: gray;
}

.alert-delete__message {
  color: gray;
  font-size: 1.2rem;
}

.required {
  margin-top: 1rem;
  text-align: left;
}

.err-message {
  /* background: rgb(199, 3, 3); */
  /* color: white; */
  color: orangered;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  max-width: fit-content;
  margin-top: 0.5rem;
}

.project-edit__error {
  margin-top: 1rem;
}

::-webkit-input-placeholder {
  color: rgb(213, 216, 220);
}

.alert-delete__modal .modal-content {
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  color: white;
}

.add-project__modal.modal-dialog,
.add-worklist__modal.modal-dialog,
.add-connection__modal.modal-dialog {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  /* align-items: ; */
}

.add-worklist__modal.modal-dialog {
  overflow-x: visible;
  overflow-y: visible;
  max-height: fit-content;
}

.edit-userRole__modal.modal-dialog,
.edit-project__modal.modal-dialog,
.edit-connection__modal.modal-dialog {
  width: fit-content;
  min-width: 20rem;
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
}

.edit-user__modal.modal-dialog {
  width: 30rem;
  min-width: 20rem;
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
}

.edit-userRole__modal .modal-content,
.edit-project__modal .modal-content,
.edit-connection__modal .modal-content {
  padding: 1rem;
}

.edit-userRole.modal-body {
  color: gray;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

.user-table__header {
  padding: 0.5rem;
}

.modal-footer {
  color: #333;
}

.edit-userRole__modal--footer.modal-footer {
  display: flex;
  flex-direction: column;
}

.edit-userRole__table--row {
  padding: 1rem;
  margin-bottom: 0.5rem;
  Background: #444;
  color: #d3d3d3;
}

.edit-userRole__modal--button {
  margin-left: 0.5rem;
}

/* .userRole-edit__error {
  margin-bottom: 0.5rem;
  align-self: flex-start;
} */

.edit-userRole__modal--buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: black;
}

.open-link {
  color: white;
  cursor: pointer;
}

.-pageJump,
.add-project__modal--select,
.add-worklist__modal--select {
  color: rgb(85, 85, 85);
}

.-next,
.-previous {
  background: rgb(236, 236, 236);
  color: black;
}

.select-wrap {
  color: rgb(85, 85, 85);
}

.pro-table .rt-table .rt-tbody .rt-tr-group {
  border: 0.005rem solid gray;
}

.pro-table .rt-table .rt-tbody .rt-tr-group .rt-tr {
  align-items: center;
}

.pro-table .rt-table .rt-tbody .rt-tr-group:hover {
  background: rgb(85, 85, 85);
}

.pro-table .rt-table .rt-thead.-header {
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.add-project__modal--form input,
.add-project__modal--form textarea,
.edit-project__modal--form input,
.edit-project__modal--form textarea,
.edit-project__modal--form select,
.add-worklist__modal--form input,
.add-worklist__modal--form textarea

/* .edit-worklist__modal--form input,
.edit-worklist__modal--form textarea,
.edit-worklist__modal--form select  */
  {
  color: black;
}

.pagination-bottom {
  background: rgb(85, 85, 85);
}

.checkbox-cell {
  margin: auto;
}

#plus-icon,
#trash-icon,
#close-icon {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.3rem;
}

.user-select {
  color: black;
}

.filter-text {
  width: 8rem;
  color: #333;
}

.filter-label {
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.annotations-projectSelect {
  margin-left: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.filter-group,
.filter-group__sec1,
.filter-group__sec2,
.filter-icons {
  display: flex;
  align-items: center;
  /* width: 80%; */
}

.filter-group {
  flex-wrap: wrap;
  /* margin-top: 1rem; */
  justify-content: flex-start;
}

.filter-group__sec1,
.filter-group__sec2,
.annotations-toolbar-basic {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.annotation-toolbar__icon {
  width: 3%;
  margin-left: 0.5rem;
}

.annotations-toolbar,
.templates-toolbar {
  display: flex;
  height: 5%;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* flex-wrap: wrap; */
}

.__react_component_tooltip {
  margin: 0em;
  padding: 0.3em;
}

.annotations-toolbar {
  height: 15%;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.annotations-toolbar-basic {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

.flexible-modal {
  position: absolute;
  z-index: 1;
  left: 20px;
  /* border: 1px solid #ccc;
  background: white; */
}

.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexible-modal-resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  margin: 5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}

.flexible-modal-drag-area {
  background: rgba(22, 22, 333, 0.2);
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: move;
}

.projectTable-row {
  border-spacing: 2rem;
}

.projectTable-row__name {
  text-align: left;
  border-spacing: 0.5rem;
}

.projectTable {
  border-spacing: 0.5rem;
}

.projectTable-header__cont {
  display: flex;
}

.projectTable-header__check {
  margin-right: 0.2rem;
}

/* .model-content {
  height: "-webkit-fill-available";
  overflow: scroll;
  background: red;
  color: blue;
} */

.projectTable-modal {
  display: flex;
  /* background: #e83e8c; */
  height: "-webkit-fill-available";
  max-height: 90%;
}

.projectTable-modal .modal-content {
  width: auto;
  min-width: 300px;
  max-width: "-webkit-fill-available";
}

#proModal-content {
  background: #444;
  display: flex;
}

.alert-upload.mng-upload.modal-dialog,
.alert-annDownload.mng-download.modal-dialog {
  left: auto;
}

.upload-container.modal-body,
.uploadDetails-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upload-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upload-note,
.tiffForm-label,
.upload-required {
  text-align: left;
}

.upload-select__container {
  display: flex;
}

.upload-option {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.pro-edit_table {
  width: 100%;
  overflow: scroll;
  max-height: 25rem;
  height: fit-content;
  /* text-align: left; */
}

.pagination-bottom .-pagination {
  max-height: 3rem;
  align-items: center;
}

.pagination-bottom .-pagination .-previous,
.pagination-bottom .-pagination .-next {
  max-width: 15%;
  max-height: 2rem;
}

.pagination-bottom .-pagination .-previous .-btn,
.pagination-bottom .-pagination .-next .-btn,
.pagination-bottom .-pagination .-center .-pageInfo {
  padding: 1px;
  max-height: 2rem;
}

.pagination-bottom .-pagination .-center input {
  padding: 1px;
  max-height: 2rem;
}

/* .ReactTable.pro-table {
  width: 800px;
  height: 500px;
}

.annotations-toolbar {
  width: 800px;
} */

.mng-anns__header-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-space {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.edit-project__modal--select {
  width: fit-content;
}

.users .rt-resizable-header-content,
.edit-userRole__table--col,
.user-table__header--user,
.usersTable-cell {
  text-align: left;
}

.edit-userRole__table--col {
  font-weight: 250;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.centeredCell {
  text-align: center;
}

.edit-user__modal--cont {
  display: flex;
  margin-bottom: 1rem;
  /* flex-direction: column */
}

.edit-user__modal--label {
  width: 20%;
  margin-right: 1rem;
  text-align: left;
}

.edit-user__modal--input {
  width: 80%;
}

.edit-user__modal--form {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.colorPicker__modal.modal-dialog {
  width: fit-content;
  outline: 0;
}

.mng-user__cell {
  cursor: pointer;
  text-align: left;
}

.info-menu__break {
  border-top: 1px solid #7b7f88;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.info-about__modal.modal-dialog,
.response__modal.modal-dialog {
  top: 10%;
}

.response__mbody.modal-body {
  height: fit-content;
  max-height: 300px;
  overflow: scroll;
}

.response-item {
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 0.2px solid grey;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.response-item.newNotification {
  color: white;
  font-weight: bold;
}

.response-item__icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.response-item:last-child {
  border: none;
}

.response-item__time {
  font-size: 0.9rem;
}

.notification-warning {
  color: orangered;
  /* color: rgb(199, 3, 3); */
  left: -5px;
  top: 5px;
  position: relative;
  font-size: 1.2rem;
}

.info-about__mbody.modal-body,
.response__mbody.modal-body {
  font-size: 1.1rem;
}

.info-about__des,
.response__des c,
.info-team__desc {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.info-about__link,
.response__link {
  color: #fff;
  font-weight: 450;
}

.info-about__link {
  cursor: pointer
}

.info-about__link:visited,
.response__link:visited {
  color: #fff;
}

.info-about__button,
.response__button {
  background: #32383e;
  border: 1px solid #956a76;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: #aaaaaa;
}

.info-about__button:hover,
.response__button:hover {
  background: #70142e;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 8px;
  margin: 0.5rem 1rem 1rem 1rem;
  cursor: pointer;
}

.user-profile__button {
  background: #3a3f44;
  border: 1px solid #956a76;
  padding: 0.5rem 2rem 0.5rem 2rem;
  /* margin: 0.5rem 1rem 1rem 1rem; */
  border-radius: 8px;
  cursor: pointer;
}

.user-profile__button:hover {
  background: #70142e;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 8px;
  /* margin: 0.5rem 1rem 1rem 1rem; */
  cursor: pointer;
}

.user-profile__button.clicked {
  background: #70142e;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0;
  /* margin: 0.5rem 1rem 1rem 1rem; */
  cursor: pointer;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.info-about__buttonCont,
.response__buttonCont {
  display: flex;
  /* justify-content: center; */
  margin-left: 1rem;
}

.user-profile__buttonCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.user-profile__button {
  /* width: 20rem; */
  width: -webkit-fill-available;
  text-align: center;
}

/* .user-profile__button:hover {
  font-size: 1.2rem;
  border-bottom: 2px solid #5bc0de;
} */

.user-profile__desc {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.pro-table.info-admin {
  width: 100%;
  height: 92%;
}

.pro-table.info-admin .rt-thead.-header {
  font-size: 0.9rem;
  text-align: left;
}

.add-host__modal.modal-dialog .modal-content {
  border: 2px solid gray;
  box-shadow: 1rem 1rem 1rem grey;
  color: white;
  width: fit-content;
  margin: auto;
}

.add-host__modal--input {
  color: black;
}

.-updatePw,
.-updateEmail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.user-profile__mbody.modal-body {
  display: flex;
  flex-direction: column;
}

.update-profile__modal--form {
  padding: 1rem;
  border: 1px solid #956a76;
  /* border-left: 1px solid #956a76;
  border-right: 1px solid #956a76;
  border-bottom: 1px solid #956a76; */
  border-top: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #3a3f44;
}

.update-profile__modal--form button {
  width: 5rem;
}

.update-profile__modal--label {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.user-profile__modal .modal-content {
  width: 50%;
  min-width: 20rem;
  margin: auto;
}

.update-profile__modal--input {
  margin-bottom: 0.8rem;
  color: black;
}

.update-profile__modal--form .form-exp.required {
  margin-top: 0;
}

.project-table {
  width: 100%;
}

.project-table.__header,
.user-table__header,
.user-table__header--user {
  margin: 0.3rem;
  padding: 0.3rem;
  Background: #444;
  color: #d3d3d3;
  font-weight: 400;
}

.edit-userRole.project_user {
  width: 100%;
  height: 200px;
  max-height: fit-content;
  overflow: auto;
}

.edit-userPermission {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}

.edit-userPermission.__row {
  display: flex;
  flex-direction: row;
  color: #d3d3d3;
}

.edit-permission__modal.modal-dialog,
.create-user__modal.modal-dialog {
  width: fit-content;
}

.create-user__modal.--body.modal-body {
  max-height: 20rem;
  overflow: auto;
}

.edit-userPermission.__row.--label,
.edit-permission__modal--button,
.user-create__button {
  margin-left: 0.3rem;
}

.click-to-add {
  font-size: 0.9rem;
  color: #5bc0de;
  font-style: italic;
  cursor: pointer;
}

.user-permission__icon {
  font-size: 1.5 rem;
}

.create-user__p1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.create-user__p1 .--label {
  margin-right: 0.5rem;
  width: 30%;
}

.create-user__p1 .--email {
  width: 70%;
  min-width: 20rem;
  color: black;
}

.project-table.__header.--project {
  text-align: left;
}

.worklist-requirementForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.worklist-requirementForm .__field {
  color: #7a8288;
  margin-top: 1rem;
  margin-left: 1rem;
}

.tagRequirements_modal .modal-content {
  width: fit-content;
  margin: auto;
}

/* #projects.projects.menu-display {
  width: 900px
} */

.templateTable-modal .modal-content {
  width: fit-content;
  margin: auto;
}

#user-cr-error {
  margin: 0rem;
  min-width: 100%;
  height: 100%;
  background: #444;
}

.mng__table {
  height: 20rem;
  overflow: auto;
  background: #444;
}