.md-pop-up {
  position: absolute;
  background-color: #3a3f44;
  padding: 5px 5px;
  outline: solid;
  outline-width: 1px;
  background-color: #3a3f44;
  outline-color: black;
  width: 500px;
  left: 470px;
  height: 500px;
  overflow: auto;
  top: 91px;
  z-index: 1000;
}

.close-meta-data-menu {
  position: absolute;
  top: 2px;
  right: 5px;
  color: white;
}

label {
  font-weight: 400;
}

hr {
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 2em;
  margin-bottom: 0em;
}

a {
  color: red;
  text-align: right !important;
}