.toolbar {
  position: absolute;
  top: 5px;
  right: 250px;
}
.toolbarSectionButton {
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  outline: none;
  position: relative;
  text-align: center;
  margin-left: 5px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.toolbarSectionButton:hover {
  color: #aaa;
  transform: scale(1.1);
}
.drawingSectionButton {
  cursor: pointer;
  min-width: 30px;
  outline: none;
  position: relative;
  text-align: center;
  color: white;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
}
.drawingSectionButton:hover {
  color: #aaa;
  transform: scale(1.1);
}
.toolContainer {
  font-size: 16px;
}
.fontastic-icons {
  font-size: 22px;
}
.buttonLabel {
  font-size: 11px;
}
.drawBar {
  top: 3.72em;
  right: 9em;
  outline: solid;
  outline-width: 1px;
  background-color: #3a3f44;
  outline-color: black;
  width: 80px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}
