.annList {
  background-color: #3a3f44;
  padding: 0.5rem;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  /* vertical-align: baseline; */
  max-width: 30%;
  overflow: scroll;
  border: 0.2rem solid gray;
  border-radius: 10px;
}

.annList-dropdown__container {
  display: inline-flex;
  margin-bottom: 1rem;

  /* flex-direction: row; */
}

.annList-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.annList-close {
  /* align-self: right; */
  cursor: pointer;
  font: 3rem;
}
.-serieButton__container {
  display: flex;
  justify-content: space-evenly;
  margin: 0.2rem;
}

.annList-serieButton {
  background-color: #333;
  width: 90%;
  max-width: 100%;
  border: none;
  height: 2.5rem;
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}

.annList-serieButton:hover {
  transform: scale(1.1);
}
.-serieButton__icon {
  margin-right: 0.5rem;
}

.-serieButton__container {
  display: flex;
  flex-direction: column;
}

.-annotation__checkbox {
  margin-right: 0.5rem;
}

.-annotation__checkbox input {
  margin: 0px;
}

.-annotation__container {
  display: flex;
  margin-bottom: 0.2rem;
  height: 1.3rem;
  /* margin-left: 0.5rem 1rem; */
  /* flex-direction: column; */
}

.annList-annotations {
  margin: 0.2rem 0.5rem 0.5rem 2rem;
}

.-serieButton__checkbox-container {
  width: 10%;
  margin: 0.5rem;
}

.-serieButton__value {
  cursor: pointer;
}
/* .-serieButton__checkbox {
  margin: 0.5rem;
} */
