.annotationSearch-line {
  display: inline-flex;
  /* align-items: baseline; */
  justify-content: space-between;
  width: 'inherit';
  padding: 5px 10px;
}

.annotationSearch-container {
  display: grid;
}

.annotationSearch-btn {
  height: 36px;
  margin: 0rem 0.3rem;
}

.annotationSearch-select {
  padding: 0.375rem 2rem 0.375rem 0.75rem;
  margin: 0rem 0.3rem;
}
