.annotationSearch-line {
  display: inline-flex;
  justify-content: space-between;
  width: 'inherit';
  padding: 0px 5px;
}

.annotationSearch-container {
  display: grid;
}

.annotationSearch-btn {
  height: 36px;
  margin-right: 0.5rem;
}

.annotationSearch-select {
  padding: 0.375rem 2rem 0.375rem 0.75rem;
  margin-right: 0.5rem;
}

.annotationSearch-text {
  margin-right: 0.5rem;
}
