.annotationSearch-line {
  display: inline-flex;
  justify-content: space-between;
  width: 'inherit';
  padding: 0px 5px;
}

.annotationSearch-container {
  display: grid;
}

.annotationSearch-btn {
  height: 36px;
  margin-right: 0.5rem;
}

.annotationSearch-select {
  padding: 0.375rem 2rem 0.375rem 0.75rem;
  margin-right: 0.5rem;
  height: fit-content;
}

.annotationSearch-text {
  margin-right: 0.5rem;
}

.annotaionSearch-title {
  font-size: 1.2rem;
  color: aliceblue;
  margin-left: 0.3rem;

}

.annotationSearch-cont__item {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center
}

.annotationSearch-cont__item__sub {
  margin: 0rem 0.3rem;
  padding: 0.34rem 0rem;
}

.advancedSearch__closed {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: #3a3f44;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  background: #3a3f44;
  color: white;
}

.advancedSearch__closed:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
}

.Collapsible__trigger.is-open.advancedSearch__open {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: #861737;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  background: #861737;
  color: white;
}

.Collapsible__trigger.is-open.advancedSearch__open:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 5px;
  display: block;
}

.advancedSearch-content {
  background: #3a3f44;
}