.mf-pop-up {
    position: absolute;
    background-color: #3a3f44;
    padding: 10px 20px;
    outline: solid;
    outline-width: 1px;
    background-color: #3a3f44;
    outline-color: black;
    width: 500px;
    left: 280px;
    top: 130px;
    z-index: 1000;
}

.close-mf-menu {
    position: absolute;
    top: 2px;
    right: 5px;
    color: white;
}

label {
    font-weight: 400;
    padding-left: 1rem;
}
